@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: var(--Verydarkblue);
}
*{
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --Blue: hsl(246, 80%, 60%);
  --Lightred_work: hsl(15, 100%, 70%);
  --Softblue_play: hsl(195, 74%, 62%);
  --Lightred_study: hsl(348, 100%, 68%);
  --Limegreen_exercise: hsl(145, 58%, 55%);
  --Violet_social: hsl(264, 64%, 52%);
  --Softorange_selfcare: hsl(43, 84%, 65%);
  --Verydarkblue: hsl(226, 43%, 10%);
  --Darkblue: hsl(235, 46%, 20%);
  --DesaturatedBlue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.perfil {
  width: 200px;
}
.choose-time{
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--Darkblue);
}
.choose-time ul {
  list-style: none;
  padding: 1rem;
}
.choose-time li {
  padding: 0.5rem;
  cursor: pointer;
}
.choose-time li :hover{
  padding: 0.5rem;
  cursor: pointer;
  color: rgb(226, 223, 223);
}
.dashboard {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

p{
  color: rgb(226, 223, 223);
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.content{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 200px;
  padding: 0 20px;
  border-radius: 15px;
  justify-content: space-between;
  color: white;
  background-color: var(--Darkblue);
  position: relative;
}

.header-Work {


  background-color: var(--Lightred_work);
  border-radius: 15px;

}
.header-Play {
  
  
  background-color: var(--Softblue_play);
  border-radius: 15px;

}
.header-Study {
 
  background: var(--Lightred_study);
  border-radius: 15px;

}
.header-Exercise {
  
  background-color: var(--Limegreen_exercise);
  border-radius: 15px;

}

.header-Social {
  
  background-color: var(--Violet_social);
  border-radius: 15px;

}

.header-Self-Care {
  
  background-color: var(--Softorange_selfcare);
  border-radius: 15px;

}
.img-box{
  display: flex;
  height: 35px;
  justify-content: end;

}
.img-func{
  height: 50px;
  width: 50px;
}
.perfil{
  background-color: var(--Darkblue);
  padding: 0;
  margin: 0;
  margin-left: auto;
  border-radius: 15px;
}
.photo-perfil{
  padding: 20px;
  border-radius: 15px;
  background-color: var(--Blue);

}
.photo-perfil img{
  height: 100px;
  width: 100px;
}